* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  grid-area: hd;
}

.page-content {
  grid-area: main;
}

.page-sidebar {
  grid-area: sd;
}

