.messenger {
  @include media(ms, max) {
    padding-right: 0;
    padding-left: 0;
  }
}

.messages-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  border: 1px solid #e1e1e1;
  overflow: hidden;

  @include media(sm) {
    min-height: 519px;
    height: calc(100vh - 253px);
  }
}

.messenger__messages-scroll {
  padding: 15px;

  @include media(sm) {
    padding: 15px 30px;
  }
}

.messages-header {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  background-color: #f7f7fa;
  border-bottom: 1px solid #f1f1f1;
  overflow: hidden;
}

.messages-header__photo {
  width: 60px;
  height: 45px;
  margin-right: 12px;

  @include media(xs) {
    order: 2;
  }
}

.messages-header__title {
  @include media(xs) {
    order: 3;
  }
}

.messages-header__link {
  margin-right: 10px;
}

.messages-header__price {
  &:after {
    content: ' \20BD';
  }

  @include media(sm) {
    display: inline-block;
  }
}

.messages-header__author {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;

  @include media(xs) {
    order: 1;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }

  @include media(ms) {
    margin-left: auto;
  }
}

.messages-header__avatar {
  width: 45px;
  height: 45px;
  margin-right: 12px;

  @include media(xs) {
    display: none;
  }
}

.messages-header__author-name {
  display: block;
}

.messages-header__lasttime {
  color: $text-grey;
}

.messenger__messages-datetime {
  margin-bottom: 20px;
  color: $text-grey;
  font-size: 14px;
  text-align: center;
}

.messenger__message {
  display: flex;
  margin-bottom: 20px;

  &--mine {
    justify-content: flex-end;
  }
}

.messenger__message-content {
  position: relative;
  max-width: 85%;

  @include media(sm) {
    max-width: 70%;
  }
}

.messenger__message-text {
  padding: 10px 15px;
  border-radius: 8px;
  white-space: pre-wrap;

  .messenger__message--incoming & {
    background-color: #f0f0f0;
  }

  .messenger__message--mine & {
    background-color: #d9f3ff;
  }
}

.messenger__message-datetime {
  height: 18px;
  margin-top: 6px;
  padding: 0 10px;
  color: $text-grey;
  font-size: 13px;
  white-space: nowrap;

  @include media(sm) {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    visibility: hidden;

    .messenger__message--incoming & {
      left: 100%;
    }

    .messenger__message--mine & {
      left: -94px;
    }

    .messenger__message-content:hover & {
      visibility: visible;
    }
  }
}

.reply-form {
  display: flex;
  align-items: stretch;
  position: relative;
  background-color: #f7f7fa;
  padding: 13px 11px 11px;
}

.reply-input {
  width: 100%;
  height: 38px;
}

.reply-submit {
  background: none;
  border: none;
}

.icon--plane {
  display: block;
  width: 24px;
  height: 24px;
  color: #828A99;
}