.button {
  display: inline-block;


  text-align: center;

  //padding: $space-xxs;
  color: #fff;
  background-color: $brand-primary;
  border: none;
  cursor: pointer;

  &:hover {
    //background-color: darken($brand-primary, 4%);
  }
}

.button--primary {

}

.button--large {
  width: 190px;
  height: 70px;
  line-height: 70px;
}