.button {
  display: inline-block;
  padding: 8px 13px;
  text-align: center;
  border: none;
  cursor: pointer;
}

.button--primary {
  color: #fff;
  background-color: $brand-primary;

  &:hover {
    background-color: darken($brand-primary, 4%);
  }
}

.button--xl {
  height: 70px;
  line-height: 56px;
}

.button--l {
  width: 190px;
  height: 50px;
  line-height: 36px;
}

.button-group {
  margin: 0 0 0 -1px;
}

.button--filters {
  min-width: 202px;
  padding-left: 46px;
  background: url('../../img/svg/filters-green.svg') no-repeat 13px center;
  background-size: 20px 20px;
  border: 2px solid $brand-primary;
}