.catalog {
  @include media(md) {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
            "a a a a"
            "b c c c"
            "b c c c";
  }
}

.catalog h1 {
  grid-area: a;

  @include media(md) {
    justify-self: end;
    width: 75%;
  }
}

.catalog-sidebar {
  grid-area: b;
}

.catalog-content {
  grid-area: c;
}

.catalog-sidebar__filter-buttons-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 24px;

  @include media(md) {
    display: none;
  }
}

.catalog-sidebar__filter-button {
  display: none;

  &.is-active {
   display: block;
  }
}

.catalog-nav {
  @include media(sm, max) {
    display: none;
  }
}

.catalog-nav__list {
  @extend .default-list;
}

.catalog-top {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @include media(ms) {
    margin-bottom: 16px;
  }
}

.catalog-top__item {
  @include media(xs) {
    margin-bottom: 16px;
  }
}

.sort-by-relevance {
  margin-right: 30px;
}

.catalog-filters-photo {
  margin-right: 30px;
}

.catalog-filters-views {
  margin-left: auto;

  @media screen and (max-width: 599px) {
    display: none;
  }
}

.catalog-filters-views__item {
  padding: 8px 10px;

  &:first-child {
    margin-right: 8px;
  }

  &.is-active {
    background: $brand-primary;
  }
}

.i-catalog-view {
  display: inline-block;
  background: url("../../img/svg/catalog-view.svg") 0 0 no-repeat;
  opacity: .5;

  .is-active & {
    opacity: 1;
  }
}

.i-catalog-view--gallery {
  width: 12px;
  height: 12px;
}

.i-catalog-view--list {
  width: 14px;
  height: 12px;
  background-position: -16px 1px;
}

.products {
  display: grid;
}

.products--table {
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-gap: 30px;
}

.products--list {
  grid-auto-rows: minmax(0, auto);
  grid-gap: 32px;
}