.page-header__inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 1px solid #E6EAEA;
}

.page-header__logo {
  color: $text-primary;
  font-size: 32px;
}

.header-services {
  display: inline-flex;
  align-items: center;
  margin-left: auto;
  //padding: 0 32px;
  font-size: 15px;
}

.header-services__item {
  display: inline-block;
  padding: 0 4px;
  color: $text-primary;
}

.header-services__login {
  color: $link-color;
}