.login {
  display: flex;
  flex-wrap: wrap;
  width: 768px;

  .action-button {
    height: 40px;
    width: 100%;
    margin-bottom: 12px;
  }
}

.login-half {
  width: 50%;

  &--left {
    padding-right: 8%;
  }

  &--right {
    padding-left: 8%;
  }
}

.login__form-item {
  margin: 12px 0;

  input {
    width: 100%;
  }
}

.button--social-account {
  display: block;
  height: 40px;
  margin: 12px 0;
  padding-left: 48px;
  color: #fff;
  line-height: 42px;
  text-align: left;
  background-repeat: no-repeat;
  background-position: 4px 4px;
  overflow: hidden;
}

.button--vk {
  background-color: #4d75a3;
  background-image: url(../../img/svg/login-logo-vk.svg);
}

.button--fb {
  background-color: #3b5998;
  background-image: url(../../img/svg/login-logo-fb.svg);
}

.login-divider {
  width: 0;
  position: relative;
}

.login-divider__bar {
  position: absolute;
  top: 0;
  left: -1px;
  width: 2px;
  height: 100%;
  background: $brand-primary;
}

.login__or {
  position: absolute;
  top: 50%;
  left: -28px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 40px;
  margin-top: -20px;
  font-size: 1.2rem;
  background: #fff;
  border: 2px solid $brand-primary;
  border-radius: 10px;
}

