.login {
  width: 360px;

  .action-button {
    height: 40px;
    width: 100%;
    margin-bottom: 12px;
  }
}

.login-form {
  margin-bottom: 0;
}

.login__form-item {
  margin: 12px 0;

  input {
    width: 100%;
  }
}

.button--social-account {
  display: block;
  height: 40px;
  margin: 12px 0;
  padding-left: 48px;
  color: #fff;
  text-align: left;
  background-repeat: no-repeat;
  background-position: 4px 4px;
  overflow: hidden;
}

.button--vk {
  background-color: #4d75a3;
  background-image: url(../../img/svg/login-logo-vk.svg);
}

.button--fb {
  background-color: #3b5998;
  background-image: url(../../img/svg/login-logo-fb.svg);
}

.login__divider {
  margin: 24px 0;
  font-size: 18px;
  text-align: center;
}

