.profile {
  .page-title {
    margin-top: 0;
  }
}

.profile:not(.page-orders) .page-content {
  @include media(sm) {
    display: grid;
    grid-template-columns: 170px auto;
    grid-gap: 30px;
  }
}

.page-orders .page-content {
  @include media(md) {
    display: grid;
    grid-template-columns: 170px auto;
    grid-gap: 30px;
  }
}

.cabinet-sidebar {
  @include media(ms, max) {
    display: none;
  }

  .page-orders & {
    @include media(sm, max) {
      display: none;
    }
  }
}

.cabinet-menu__item {
  &.is-active {
    font-weight: bold;
  }
}

.cabinet-menu__link {
  display: block;
  padding: 6px 0;
  color: #767676;
  font-size: 18px;

  .is-active &,
  &:hover {
    color: $text-primary;
  }

  .cabinet-menu__item:first-child & {
    padding-top: 3px;
  }
}

.profile-settings {
  margin-top: 6px;
}

.profile-settings__form {
  width: 100%;

  @include media(ms) {
    max-width: 360px;
  }
}

.form-item__files-picture-upload input {
  padding-left: 0;
}

.user-picture {
  height: 128px;
  width: 128px;
  margin-bottom: 12px;
  border: 1px solid #ececec;
  box-shadow: $box-shadow;
}

.profile-settings__title {
  margin: 0;
  font-size: 16px;
}

.avatar img {
  border-radius: 50%;
}
