.product {
  position: relative;
}

.product__link {
  .products--list & {
    display: flex;
    flex-wrap: wrap;
  }
}

.product__img-wrap {
  height: 200px;
  border-radius: $border-radius;
  overflow: hidden;
  box-shadow: 0 1px 1px 0 rgba(60,64,67,.08),0 1px 3px 1px rgba(60,64,67,.16);
  transition: box-shadow 135ms cubic-bezier(.4,0,.2,1),width 235ms cubic-bezier(.4,0,.2,1);

  .product:hover & {
    box-shadow: 0 1px 3px 1px rgba(60,64,67,.2),0 2px 8px 4px rgba(60,64,67,.1);
  }

  .products--list & {
    width: 200px;
    margin-right: 24px;
  }

  .product--recommended & {
    @include media(lg) {
      height: 270px;
    }
  }
}

.product__desc {
  .products--table & {
    margin-top: 12px;
  }
}

.product__name {
  margin: 0;
  letter-spacing: .018em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product__price {
  color: $text-black;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 20px;
  font-weight: 500;

  &:after {
    content: ' \20BD';
  }
}

.button-wishlist {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 32px;
  height: 32px;
  padding: 9px 7px 7px;
  color: #2d2d2d;
  border: none;
  background-color: rgba(255,255,255,.9);
  border-radius: 50%;
  cursor: default;
  outline: none;

  .products--list & {
    left: 160px;
  }

  svg {
    width: 100%;
    height: 100%;
    color: rgba(255,255,255,.9);
    transition: color ease .2s;
  }

  &:hover,
  .product--in-wishlist & {
    background-color: rgba(255,255,255,.9);

    svg {
      color: #2d2d2d;
      opacity: .9;
    }
  }

  .full-product & {
    width: 36px;
    height: 36px;
  }
}

.recommended-products__title {
  font-weight: 500;
}

.full-product {
  display: grid;
  grid-row-gap: 16px;

  grid-template-areas:
          "a"
          "b"
          "c";

  @media screen and (min-width: 640px) {
    grid-column-gap: 30px;
    grid-template-areas:
            "a a a a a"
            "b b b b c";
  }
}

.full-product__top  {
  grid-area: a;
}

.full-product__title {
  margin-bottom: 8px;
}

.full-product__price {
  color: $text-black;
  font-size: 20px;

  @include media(sm) {
    font-size: 30px;
  }

  &:after {
    content: ' \20BD';
  }
}

.full-product__main {
  grid-area: b;
  display: grid;
  grid-column-gap: 30px;
  grid-row-gap: 24px;
  align-items: start;

  @include media(md) {
    grid-template-columns: 1fr 1fr;
  }
}

.full-product__right {
  grid-area: c;
}

.full-product__left {
  position: relative;
  min-width: 0
}

.full-product__img {
  display: block;
}

.full-product__desc {
  margin-bottom: 16px;

  p {
    margin: 0;
  }
}

.full-product__actions {
  margin-bottom: 8px;
}

.full-product__button {
  width: 100%;
  margin-bottom: 16px;
  min-height: 50px;
}

.button--show-phone {
  font-size: 18px;

  span {
    display: block;
    margin-top: 2px;
    font-size: 15px;
  }
}

.full-product__buy {
  background: $fnb-extra;

  &:hover {
    background: $fnb-extra;
  }
}

.full-product__seller-info {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 16px;
  line-height: 1.4;
}

.seller-info__photo {
  flex-shrink: 0;
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.seller-products {
  width: 100%;
  font-size: 14px;
  color: $text-primary;
  background-color: #f5f5f5;

  &:hover {
    color: $text-primary;
  }
}

.my-product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.my-product__actions {
  display: flex;
  position: absolute;
  left: 230px;
  bottom: 0;
  margin: 0 -8px;
}

.my-product__actions-item {
  display: inline-block;
  color: $text-primary;
  padding: 4px 8px;
  text-align: left;
  background: transparent;
  border: none;
  white-space: nowrap;
  cursor: pointer;
}

#fld-product-price {
  max-width: 100px;
}

#fld-product-photos {
  width: inherit;
}
