.profile .page-content {
  @include media(sm) {
    display: grid;
    grid-template-columns: 200px auto;
    grid-gap: 30px;
  }

  @include media(lg) {
    grid-template-columns: 240px auto;
  }
}

.profile-settings {
  margin-top: 24px;
}

.profile-settings__form {
  width: 100%;

  @include media(sm) {
    max-width: 360px;
  }

  input {
    width: 100%;
  }
}

.form-item__files-picture-upload input {
  padding-left: 0;
}

.user-picture {
  height: 128px;
  width: 128px;
  margin-bottom: 8px;
  border: 1px solid #ececec;
}

.profile-settings__title {
  margin: 0;
  font-size: 16px;
}

.avatar img {
  border-radius: 50%;
}