.product__link {
  .products__wrap--list & {
    display: flex;
    flex-wrap: wrap;
  }
}

.product__img-wrap {
  height: 200px;

  .products__wrap--list & {
    width: 200px;
    margin-right: 24px;
  }

  .product--recommended & {
    height: 270px;
  }
}

.product__img {
  display: block;
  height: 100%;
  object-fit: cover;

  .products__wrap--table & {
    width: 100%;
  }
}

.product__desc {
  margin-top: 12px;
}

.product__name {
  color: $text-primary;
}

.product__price {
  color: $text-primary;

  &:after {
    content: ' \20BD';
  }
}

.recommended-products__wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(10px, auto);
  grid-gap: 30px;
}

.recommended-product__link {
  display: block;
}

.full-product {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 30px;
}

.full-product__desc {
  margin-bottom: 16px;
}

.full-product__price {
  margin-bottom: 16px;
  font-size: 32px;

  &:after {
    content: ' \20BD';
  }
}

.full-product__actions {
  width: 320px;

  .button {
    width: 100%;
  }
}

.full-product__buy {
  margin-bottom: 16px;
}